<!DOCTYPE html>
<html>
    <head>
        {# dump() #}
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to SymfonyUx !!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body
            {{ stimulus_controller('symfony/ux-swup/swup') }}
            data-containers="#swup"
            data-theme="slide" {# or "fade", the default #}
            data-debug="data-debug" {# add this attribute to enable debug #}
            data-cache="data-cache" {# add this attribute to enable local cache: be careful, it only makes sense for mostly static websites #}
            data-animate-history-browsing="data-animate-history-browsing" {# add this attribute to animate history browsing #}
    >
        <div id="swup" class="container">
            <div class="container-fluid">
                <div class="row">
                    {% include '_menu.html.twig' ignore missing %}
                    <div class="col-10 mt-4">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
