<footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-4">
                    <a class="footer-menu-link"href="/">
                        <img src="build/images/logo.png" class="logo img-fluid" alt="" style="margin-top: -11px;margin-right: -29px;margin-left: -25px;">
                        BlackoutAdvisor
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <h5 class="site-footer-title mb-3">Quick Links</h5>
                    <ul class="footer-menu">
                        <li class="footer-menu-item"><a class="footer-menu-link smoothscroll" href="#section_1">Alert</a></li>
                        <li class="footer-menu-item"><a class="footer-menu-link smoothscroll" href="#section_2">Consommation</a></li>
                        <li class="footer-menu-item"> <a class="footer-menu-link smoothscroll" href="#section_3">Badges et Récompenses</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mx-auto">
                    <h5 class="site-footer-title mb-3">Contact Infomation</h5>

                    <p class="text-white d-flex mb-2">
                        <i class="bi-telephone me-2"></i>

                        <a href="tel: 0750843978" class="site-footer-link">
                            0750843978
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <i class="bi-envelope me-2"></i>
                        <a href="mailto:info@yourgmail.com" class="site-footer-link">
                            mrezgui@greenflex.com
                        </a>
                    </p>

                    <p class="text-white d-flex mt-3">
                        <i class="bi-geo-alt me-2"></i>
                        7 - 11 Bd Haussmann, 75009 Paris FRANCE
                    </p>

                    <a href="#" class="custom-btn btn mt-3">Get Direction</a>
                </div>
            </div>
        </div>

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-7 col-12">
                        <p class="copyright-text mb-0">Copyright © 2022 <a href="#">Big Company</a>
                        </p>
                    </div>

                    <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="https://twitter.com/greenflex" class="social-icon-link bi-twitter"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="https://ms-my.facebook.com/omie.fr/videos/vers-une-%C3%A9conomie-r%C3%A9g%C3%A9n%C3%A9rative-omie-x-greenflex/421886032823003/" class="social-icon-link bi-facebook"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="https://www.instagram.com/greenflex_gf/" class="social-icon-link bi-instagram"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="https://www.linkedin.com/company/greenflex" class="social-icon-link bi-linkedin"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="https://www.youtube.com/watch?v=uDdHKCs5Eo8&t=9s" class="social-icon-link bi-youtube"></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>
  