<section class="section-padding section-bg" id="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-left mb-4">
                <h2>Alert</h2>
            </div>

            <div class="alert alert-success" role="alert">
              Situation Normale :  le réseau élétrique francais support la consommation national
            </div>

            <div class="col-lg-12 col-12 text-left mb-4">
                <br>
            </div>            
            <div class="col-lg-12 col-12 text-left mb-4">
                <h3 style="color: var(--secondary-color);ont-size: var(--h2-font-size);letter-spacing: -2px;">
                    Quelque Chiffres :
                </h3>
            </div>

            <div class="col-lg-6 col-12 text-left mb-4">
                <div class="counter-thumb">
                    <div class="d-flex">
                        <span class="counter-number" data-from="1" data-to="2" data-speed="1000"></span>
                        <span class="counter-number-text">€</span>
                    </div>
                    <span class="counter-text">Prix de l'électricité en France en MWh (en incluant l'abonnement et les taxes)</span>
                <br>

                    <div class="d-flex">
                        <span class="counter-number" data-from="1" data-to="35" data-speed="1000"></span>
                        <span class="counter-number-text">%</span>
                    </div>
                    <span class="counter-text">Hausse du prix de l'électricité en 2022</span>
                </div>
            </div>

            <div class="col-lg-6 col-12 text-left mb-4">
                <div class="counter-thumb">
                    <div class="d-flex">
                        <span class="counter-number" data-from="1" data-to="28" data-speed="1000"></span>
                        <span class="counter-number-text">%</span>
                    </div>
                    <span class="counter-text">de la de consommation électricité du secteur résidentiel est pour le chauffage</span>
                <br>

                    <div class="d-flex">
                        <span class="counter-number" data-from="1" data-to="38" data-speed="1000"></span>
                        <span class="counter-number-text">%</span>
                    </div>
                    <span class="counter-text">de la Consommation électricité est consommée par le secteur secteur résidentiel en 2020 en France</span>
                </div>
            </div>
                                

        </div>
    </div>
</section>