<section class="volunteer-section section-padding" id="section_3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <h2 class="text-white mb-4">Badges et Récompenses</h2>
                <form class="custom-form volunteer-form mb-5 mb-lg-0" action="#" method="post" role="form">
                   <img src="build/images/badge10.png" class="volunteer-image rounded-pill" alt="">
                    {#
                        <img src="build/images/badge20.png" class="volunteer-image rounded-pill" alt="">
                        <img src="build/images/badge30.png" class="volunteer-image rounded-pill" alt="">
                    #}

                </form>
            </div>

            <div class="col-lg-6 col-12">
                <div class="custom-block-body text-center">
                    <h4 class="text-white mt-lg-3 mb-lg-3">Baisse de 10%</h4>
                    <p class="text-white">Bravo vous avez fait une belle economie d'énergie</p>
                </div>
            </div>
        </div>
    </div>
</section>
